:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #fe652b; 
    --color-button-hover-green: #28a745; 
    --color-text: #000000;
    --color-black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header-banner {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.section-title {
    font-family: "Inter", serif;
    font-size: 2.125rem;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

.main-title {
    font-size: 2rem;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-black);
    text-align: center; /* Centraliza o texto */
    margin: 20px 0; /* Ajusta a margem se necessário */
}

.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px; /* Arredonda todos os lados */
    font-size: 1rem;
    margin-bottom: 10px;
}

.button-container {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
    flex-wrap: wrap;
}

.button-container button {
    margin: 5px; /* Ajusta o espaço entre os botões */
    width: 100%; /* Faz com que os botões ocupem toda a largura do contêiner */
    max-width: 200px; /* Define uma largura máxima para os botões */
    border-radius: 25px; /* Arredonda todos os lados dos botões */
    padding: 10px 20px; /* Ajuste o padding conforme necessário */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 25px; /* Arredonda todos os lados */
    border-top-left-radius: 25px; /* Arredonda o canto superior esquerdo */
    border-top-right-radius: 25px; /* Arredonda o canto superior direito */
    border-bottom-left-radius: 25px; /* Arredonda o canto inferior esquerdo */
    border-bottom-right-radius: 25px; /* Arredonda o canto inferior direito */
    padding: 10px 20px; /* Ajuste o padding conforme necessário */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}
.button-draw {
    background-color: var(--color-button);
    color: var(--color-white);
}

.button-draw:hover {
    background-color: var(--color-button-hover-green); 
    color: #FFFFFF; 
}

ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    margin: 20px 0;
}

/* Para telas de até 1024px */
@media (max-width: 1024px) {
    .main-title {
        font-size: 1.8rem; /* Ajuste o tamanho da fonte */
    }
    .section-title {
        font-size: 1.6rem; /* Ajuste o tamanho da fonte */
    }
    .input-name {
        font-size: 0.9rem; /* Ajuste o tamanho da fonte */
    }
}

/* Para telas de até 768px */
@media (max-width: 768px) {
    .main-title {
        font-size: 1.6rem; /* Ajuste o tamanho da fonte */
    }
    .section-title {
        font-size: 1.4rem; /* Ajuste o tamanho da fonte */
    }
    .input-name {
        font-size: 0.8rem; /* Ajuste o tamanho da fonte */
    }
    .button-container button {
        width: 100%; /* Botões ocupam toda a largura */
    }
}

/* Para telas de até 480px */
@media (max-width: 480px) {
    .main-title {
        font-size: 1.4rem; /* Ajuste o tamanho da fonte */
    }
    .section-title {
        font-size: 1.2rem; /* Ajuste o tamanho da fonte */
    }
    .input-name {
        margin-bottom: 10px; /* Adiciona espaço entre os inputs */
    }
    .button-container button {
        margin: 5px 0; /* Ajusta o espaço entre os botões */
    }
}