:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #fe652b; 
    --color-button-hover-green: #28a745; 
    --color-text: #000000;
    --color-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header-banner {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.main-title {
    font-size: 3rem;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 2.125rem;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 1rem;
}

.button-container {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}

.button-container button {
    margin: 0 10px; 

}
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}
.button-add img {
    width: 20px; 
    height: 20px; 

}
.button-add:hover {
    background-color: var(--color-button);
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    margin: 20px 0;
}

.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 1rem;
}
.button-draw:hover {
    background-color: var(--color-button-hover-green); 
    color: #FFFFFF; 
}
.main-content .result-list {
    margin-top: 15px;
    color: #df0505;
    font-size: 2rem;
    font-weight: bold; 
}
@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;  
    }   
    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }
    
    .apresentacao__conteudo {
        width: auto;
    }
}